{% extends "base.html" %}
{% block content %}

<div class="row-fluid">
	<form action="" method="post" name="metrics" class="navbar-form">
	{% if form.errors %}
	<div class="alert alert-danger"><strong>Warning:</strong>It looks like there is some data missing. Please review.</div>
	{% endif %}
  <div class="span11"><a name="#"></a>
    <div id="rootwizard">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul>
                        <li><a href="#tab1" data-toggle="tab">Your Information</a></li>
                        <li><a href="#tab2" data-toggle="tab">Member Counts</a></li>
                        <li><a href="#tab3" data-toggle="tab">Political Engagement</a></li>
                        <li><a href="#tab4" data-toggle="tab">Contact Avenues</a></li>
                    </ul>
                </div>
            </div>
        </div>

            {% include 'forms.html' %}

            <div class="span11"><a name="resources"></a>
                <h2>Resources/Help</h2>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>

            <div class="span11"><a name="sample"></a>
                <h2>Sample</h2>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>

          </div><!--/row-->
        </div><!--/span-->

{% endblock %}
