{% extends "base.html" %}
{% block content %}

<div class="row-fluid">
    <form action="" method="post" name="metrics" class="form-horizontal" id="inputForm">
    {% if form.errors %}
    <div class="alert alert-danger"><strong>Warning:</strong>It looks like there is some data missing. Please review.</div>
    {% endif %}
    <div id="rootwizard">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul>
                        <li><a href="#tab1" data-toggle="tab">Your Information</a></li>
                        <li><a href="#tab2" data-toggle="tab">Member Counts</a></li>
                        <li><a href="#tab3" data-toggle="tab">Political Engagement</a></li>
                        <li><a href="#tab4" data-toggle="tab">Contact Avenues</a></li>
                    </ul>
                </div>
            </div>
        </div>

            {% include 'forms.html' %}
{% endblock %}
